/* Import plugin CSS */
@import '@fortawesome/fontawesome-free/css/all.css';
@import 'swiper/swiper-bundle.css';
@import "flowbite/dist/flowbite.css";

/* Import Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS */
.breadcrumb-item + .breadcrumb-item::before {
  content: "/";
  padding: 0 0.5rem;
  color: #83B582; 
}

.placeholder-green::placeholder {
  color: #88AB8E;
}
